.courses{
    position: relative;
    &__el{
        &-top{
            position: absolute;
            top: 20px;
            right: -50px;
            width: 118px;
            height: 118px;
            background: #FCCD05;
            filter: blur(2px);
            border-radius: 10px;
            transform: rotate(29.71deg);   
            z-index: -1;                 
        }
        &-bot{
            position: absolute;
            bottom: -25px;
            right: -49px;
            width: 90px;
            height: 90px;
            background: #A64AC9;
            filter: blur(2px);
            border-radius: 10px;
            transform: rotate(3.61deg);                 
        }
    }
    &__cat{
        width: calc(100% + 30px);
        margin-left: -15px;
        overflow: auto;
        padding-bottom: 15px;
        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        &-track{
            display: flex;
            justify-content: center;
            width: max-content;
            min-width: 100%;
            gap: 20px;
        }
        &-item{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-decoration: none;
            padding: 6px 12px;
            background: #E0E0E0;
            border-radius: 20px;
            color: #333333;
            &.active{
                background: #FF6A1B;
                color: #FFFFFF;
            }
        }
    }
    &__content{
        display: none;
        &.active{
            display: block;
        }
        width: 100%;
        position: relative;
    }
    &__navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -64px;
        width: calc(100% + 128px);
        @include media(1400){
            display: none;
        }
        *{
            pointer-events: all;
        }
    }
    &__pagination{
        display: none;
        @include media(1400){
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            height: 12px;
            gap: 8px;
            .swiper-pagination-bullet{
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #E0E0E0;
                transition: 300ms ease-out;
                &-active{
                    background: #FF6A1B;
                }
            }
        }
    }
    &__swiper{
        width: calc(100% + 24px);
        margin-left: -12px;
        padding: 0 12px;
        overflow: hidden;
    }
    &__wrapper{
        display: flex;
        width: max-content;
        margin-bottom: 30px;
        @include media(1400){
            margin-bottom: 20px;
        }
    }
    &__item{
        background: #FFFFFF;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        &-img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        &-content{
            padding: 15px 10px;
        }
        &-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        &-name{
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #828282;
        }
        &-title{
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-decoration: none;
            margin-bottom: 5px;
            display: block;
            color: #333333;
        }
        &-p{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 15px;
            color: #333333;
        }
        &-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:not(:last-of-type){
                margin-bottom: 8px;
            }
        }
        &-label{
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #828282;
        }
        &-ans{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: right;
            color: #333333;            
        }
        &-footer{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-price{
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #FF6A1B;
        }
        &-btn{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            padding: 6px 12px;
            background: #A64AC9;
            border-radius: 5px;
            text-decoration: none;
            color: #FFFFFF;
            transition: 300ms ease-out;
            &:hover{
                background: rgba(#A64AC9, 0.8);
            }
        }
    }
    &__btn{
        margin-left: auto;
        margin-right: auto;
        padding: 12px 24px;
        background: #FF6A1B;
        border-radius: 5px;
        gap: 8px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        color: #FFFFFF;
        transition: 300ms ease-out;
        &:hover{
            background: rgba(#FF6A1B, 0.8);
        }
    }
}