.detail{
    &__content{
        background: #FFFFFF;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
    }
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 20px;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
        @include media(992){
            display: none;
        }
        &-link{
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #333333;
        }
    }
    &__acc{
        display: none;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
        border-radius: 10px 10px 0px 0px;
        @include media(992){
            display: block;
        }
        &-btn{
            padding: 16px 20px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #333333;
            width: 100%;
            text-align: left;
            position: relative;
            &.active{
                &::before{
                    transform: rotate(-180deg);
                    top: 16px;
                }
            }
            &::before{
                content: '';
                transition: 300ms ease-out;
                position: absolute;
                top: 14px;
                right: 15px;
                width: 24px;
                height: 24px;
                background: url('../img/down.svg') center;
            }
        }
        &-content{
            display: none;
        }
        &-link{
            width: 100%;
            display: block;
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #333333;
            padding: 0 20px 15px 20px;
        }
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
        @include media(992){
            flex-direction: column;
        }
    }
    &__left{
        padding-top: 30px;
        min-width: 280px;
        width: 280px;
        position: relative;
        @include media(992){
            min-width: 0;
            width: 100%;
        }
        &-content{
            padding: 0 15px 20px 15px;
        }
        &-btn{
            display: block;
            margin-top: 30px;
            width: max-content;
            background: #A64AC9;
            border-radius: 5px;
            margin-left: auto;
            margin-right: auto;
            padding: 6px 12px;
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            transition: 300ms ease-out;
            color: #FFFFFF;
            &:hover{
                background: rgba(#A64AC9, 0.8);
            }
        }
    }
    &__mid{
        border-left: 1px solid #F2F2F2;
        flex: 1 1 auto;
        padding: 30px 15px 20px 60px;
        @include media(992){
            border-left: none;
            border-top: 1px solid #F2F2F2;
            padding: 20px 15px;
        }
        &.g-60{
            padding: 30px 60px 20px 60px;
            // margin: 0 60px;
            border-right: 1px solid #F2F2F2;
            @include media(1200){
                padding: 30px 15px 20px 15px;
            }
            @include media(992){
                border-bottom: 1px solid #F2F2F2;
                border-right: none;
                padding: 20px 15px;
            }
        }
        &.jcsb{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-p{
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
        }
    }
    &__right{
        min-width: 320px;
        width: 320px;
        padding: 30px 15px 20px 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include media(992){
            width: 100%;
            min-width: 0;
            align-items: center;
        }
        &-top{
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            @include media(992){
                width: 100%;
                align-items: center;
            }
            @include media(576){
                align-items: flex-start;
            }
        }
        &-btn{
            background: #A64AC9;
            border-radius: 5px;
            transition: 300ms ease-out;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            width: max-content;
            padding: 12px 24px;
            text-decoration: none;
            margin-bottom: 15px;
            color: #FFFFFF;
            @include media(576){
                margin-left: auto;
                margin-right: auto;
            }
            &:hover{
                background: rgba(#A64AC9, 0.8);
            }
        }
        &-price{
            text-align: right;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #333333;
            margin-top: -10px;
            margin-bottom: 5px;
            span{
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #FF6A1B;  
            }          
        }
        &-p{
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            text-align: right;
            color: #828282;  
            @include media(576){
                text-align: left;
            }          
        }
        &-link{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #A64AC9;
            padding: 6px 12px;
            margin-top: 20px;
            text-decoration: none;
            border: 1px solid #A64AC9;
            border-radius: 5px;
            transition: 300ms ease-out;
            @include media(576){
                margin-left: auto;
                margin-right: auto;
            }
            &:hover{
                opacity: 0.8;
            }
        }
    }
    &__discount{
        position: absolute;
        top: 40px;
        left: 10px;
        padding: 4px 8px;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        background: #FF6A1B;
        border-radius: 20px;
        color: #FFFFFF;
    }
    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        img{
            width: 100%;
        }
        &.teacher{
            overflow: hidden;
            line-height: 0;
            img{
                width: 160px;
                height: 160px;  
                border-radius: 10px;
            }
        }
    }
    &__rating{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        &-star{
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #FCCD05;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
        }
        &-count{
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #828282;
        }
    }
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &:not(:last-of-type){
            margin-bottom: 8px;
        }
        &.center{
            align-items: center;
        }
    }
    &__span{
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #828282;
    }
    &__b{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
    }
    &__price{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        color: #FF6A1B;
    }
    &__orange{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: #FF6A1B;        
    }
    &__ans{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: #333333;
    }
    &__adv{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
        &:not(:last-of-type){
            margin-bottom: 15px;
        }
    }
    &__tag{
        &-title{
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #333333;
            margin-bottom: 10px;
        }
        &-content{
            display: flex;
            flex-wrap: wrap;
            gap: 15px 20px;
        }
        &-item{
            background: #FF6A1B;
            border-radius: 20px;
            padding: 6px 12px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-decoration: none;
            color: #FFFFFF;
            &.dn{
                @include media(576){
                    display: none;
                }
            }
            &.open{
                display: block !important;
            }
        }
        &-btn{
            display: none;
            @include media(576){
                display: block;
                margin-top: 15px;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                text-decoration-line: underline;
                color: #FF6A1B;                
            }
        }
    }
}