.reviews{
    &__content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }
    &__item{
        background: #FFFFFF;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        position: relative;
        padding: 15px 10px;
        &-action{
            position: absolute;
            top: 15px;
            right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-btn{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 50px;
            gap: 5px;
            &.red{
                span{
                    color: #EB5757;
                }
            }
            span{
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                color: #27AE60;                
            }
        }
        &-rating{
            margin-bottom: 5px;
        }
        &-title{
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 5px;
            color: #333333;
        }
        &-desc{
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #828282;
            margin-bottom: 15px;
            a{
                color: #FF6A1B;
                text-decoration: none;
                font-weight: 600;
            }
        }
        &-p{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 15px;
            color: #333333;            
        }
        &-date{
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #828282;
        }
    }
    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        padding: 12px 24px;
        background: #FF6A1B;
        border-radius: 5px;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        width: max-content;
        color: #FFFFFF;
    }
}