mixin breadcrumbs-info()
    .breadcrumbs 
        .breadcrumbs__body.container 
            .breadcrumbs__content 
                a(href="index.html") Главная
                span /
                a(href="katalog.html") Каталог курсов
                span /
                a(href="katalog.html") Программирование
                span /
                a(href="#!").active C#
            .breadcrumbs__info 
                p Информация актуальна на 10.09.22

mixin breadcrumbs-course()
    .breadcrumbs 
        .breadcrumbs__body.container 
            .breadcrumbs__content 
                a(href="index.html") Главная
                span /
                a(href="katalog.html") Каталог курсов
                span /
                a(href="katalog.html") Программирование
                span /
                a(href="#!") C#
                span /
                a(href="#!").active Разработчик C#: с нуля до PRO!
            .breadcrumbs__info 
                p Информация актуальна на 10.09.22

mixin breadcrumbs()
    .breadcrumbs 
        .breadcrumbs__body.container 
            .breadcrumbs__content 
                a(href="index.html") Главная
                span /
                a(href="#!") Каталог курсов
                span /
                a(href="#!") Программирование
                span /
                a(href="#!").active C#

mixin breadcrumbs-teacher()
    .breadcrumbs 
        .breadcrumbs__body.container 
            .breadcrumbs__content 
                a(href="index.html") Главная
                span /
                a(href="#!") Преподаватели
                span /
                a(href="#!").active Иванов Иван

mixin breadcrumbs-school()
    .breadcrumbs 
        .breadcrumbs__body.container 
            .breadcrumbs__content 
                a(href="index.html") Главная
                span /
                a(href="#!") Школы
                span /
                a(href="#!").active Skillbox