mixin courses-item()
    .courses__item.swiper-slide 
        .courses__item-img 
            img(src="@img/intro.png", alt="" draggable="false")
        .courses__item-content 
            .courses__item-header 
                p.courses__item-name Geek Brains
                .courses__item-reviews 
                    <svg width="70" height="15" viewBox="0 0 70 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.8333 6.39167C12.8917 6.1 12.6583 5.75 12.3667 5.75L9.04166 5.28334L7.525 2.25C7.46666 2.13334 7.40833 2.075 7.29166 2.01667C7 1.84167 6.65 1.95834 6.475 2.25L5.01666 5.28334L1.69166 5.75C1.51666 5.75 1.4 5.80834 1.34166 5.925C1.10833 6.15834 1.10833 6.50834 1.34166 6.74167L3.73333 9.075L3.15 12.4C3.15 12.5167 3.15 12.6333 3.20833 12.75C3.38333 13.0417 3.73333 13.1583 4.025 12.9833L7 11.4083L9.975 12.9833C10.0333 13.0417 10.15 13.0417 10.2667 13.0417C10.325 13.0417 10.325 13.0417 10.3833 13.0417C10.675 12.9833 10.9083 12.6917 10.85 12.3417L10.2667 9.01667L12.6583 6.68334C12.775 6.625 12.8333 6.50834 12.8333 6.39167Z" fill="#FCCD05"/>
                        <path d="M26.8333 6.39167C26.8917 6.1 26.6583 5.75 26.3667 5.75L23.0417 5.28334L21.525 2.25C21.4667 2.13334 21.4083 2.075 21.2917 2.01667C21 1.84167 20.65 1.95834 20.475 2.25L19.0167 5.28334L15.6917 5.75C15.5167 5.75 15.4 5.80834 15.3417 5.925C15.1083 6.15834 15.1083 6.50834 15.3417 6.74167L17.7333 9.075L17.15 12.4C17.15 12.5167 17.15 12.6333 17.2083 12.75C17.3833 13.0417 17.7333 13.1583 18.025 12.9833L21 11.4083L23.975 12.9833C24.0333 13.0417 24.15 13.0417 24.2667 13.0417C24.325 13.0417 24.325 13.0417 24.3833 13.0417C24.675 12.9833 24.9083 12.6917 24.85 12.3417L24.2667 9.01667L26.6583 6.68334C26.775 6.625 26.8333 6.50834 26.8333 6.39167Z" fill="#FCCD05"/>
                        <path d="M40.8333 6.39167C40.8917 6.1 40.6583 5.75 40.3667 5.75L37.0417 5.28334L35.525 2.25C35.4667 2.13334 35.4083 2.075 35.2917 2.01667C35 1.84167 34.65 1.95834 34.475 2.25L33.0167 5.28334L29.6917 5.75C29.5167 5.75 29.4 5.80834 29.3417 5.925C29.1083 6.15834 29.1083 6.50834 29.3417 6.74167L31.7333 9.075L31.15 12.4C31.15 12.5167 31.15 12.6333 31.2083 12.75C31.3833 13.0417 31.7333 13.1583 32.025 12.9833L35 11.4083L37.975 12.9833C38.0333 13.0417 38.15 13.0417 38.2667 13.0417C38.325 13.0417 38.325 13.0417 38.3833 13.0417C38.675 12.9833 38.9083 12.6917 38.85 12.3417L38.2667 9.01667L40.6583 6.68334C40.775 6.625 40.8333 6.50834 40.8333 6.39167Z" fill="#FCCD05"/>
                        <path d="M54.8333 6.39167C54.8917 6.1 54.6583 5.75 54.3667 5.75L51.0417 5.28334L49.525 2.25C49.4667 2.13334 49.4083 2.075 49.2917 2.01667C49 1.84167 48.65 1.95834 48.475 2.25L47.0167 5.28334L43.6917 5.75C43.5167 5.75 43.4 5.80834 43.3417 5.925C43.1083 6.15834 43.1083 6.50834 43.3417 6.74167L45.7333 9.075L45.15 12.4C45.15 12.5167 45.15 12.6333 45.2083 12.75C45.3833 13.0417 45.7333 13.1583 46.025 12.9833L49 11.4083L51.975 12.9833C52.0333 13.0417 52.15 13.0417 52.2667 13.0417C52.325 13.0417 52.325 13.0417 52.3833 13.0417C52.675 12.9833 52.9083 12.6917 52.85 12.3417L52.2667 9.01667L54.6583 6.68334C54.775 6.625 54.8333 6.50834 54.8333 6.39167Z" fill="#FCCD05"/>
                        <path d="M68.8333 6.39167C68.8917 6.1 68.6583 5.75 68.3667 5.75L65.0417 5.28334L63.525 2.25C63.4667 2.13334 63.4083 2.075 63.2917 2.01667C63 1.84167 62.65 1.95834 62.475 2.25L61.0167 5.28334L57.6917 5.75C57.5167 5.75 57.4 5.80834 57.3417 5.925C57.1083 6.15834 57.1083 6.50834 57.3417 6.74167L59.7333 9.075L59.15 12.4C59.15 12.5167 59.15 12.6333 59.2083 12.75C59.3833 13.0417 59.7333 13.1583 60.025 12.9833L63 11.4083L65.975 12.9833C66.0333 13.0417 66.15 13.0417 66.2667 13.0417C66.325 13.0417 66.325 13.0417 66.3833 13.0417C66.675 12.9833 66.9083 12.6917 66.85 12.3417L66.2667 9.01667L68.6583 6.68334C68.775 6.625 68.8333 6.50834 68.8333 6.39167ZM65.2167 8.43334C65.1 8.55 65.0417 8.78334 65.0417 8.95834L65.45 11.4083L63.2333 10.2417C63.175 10.1833 63.0583 10.1833 62.9417 10.1833V3.825L64.05 6.04167C64.1083 6.21667 64.2833 6.33334 64.5167 6.33334L66.9667 6.68334L65.2167 8.43334Z" fill="#FCCD05"/>
                    </svg>
            a(href="course.html").courses__item-title Разработчик C#: с нуля до PRO!
            p.courses__item-p Подробный курс по C# для начинающих от ведущих специалистов России и Европы.
            .courses__item-row 
                p.courses__item-label Длительность:
                p.courses__item-ans 7 месяцев
            .courses__item-row 
                p.courses__item-label Формат:
                p.courses__item-ans В группе
            .courses__item-row 
                p.courses__item-label Диплом:
                p.courses__item-ans Есть
            .courses__item-footer 
                p.courses__item-price 117 000 ₽
                a(href="course.html").courses__item-btn Подробнее 


mixin courses()
    .courses 
        .courses__body.container 
            h2.title.courses__title.mb-20 Популярные курсы 
            .courses__cat   
                .courses__cat-track 
                    button(type="button" data-target="razrabotka").courses__cat-item.active Разработка
                    button(type="button" data-target="dizayn").courses__cat-item Дизайн
                    button(type="button" data-target="copyright").courses__cat-item Копирайтинг
                    button(type="button" data-target="psy").courses__cat-item Психология
            .courses__content#razrabotka.active 
                .courses__swiper.swiper 
                    .courses__wrapper.swiper-wrapper 
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                    .courses__pagination
                .courses__navigation 
                    .courses__prev
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.1 19.3166L23.5333 9.89998C23.6883 9.74377 23.8726 9.61978 24.0757 9.53516C24.2788 9.45055 24.4966 9.40698 24.7167 9.40698C24.9367 9.40698 25.1545 9.45055 25.3576 9.53516C25.5607 9.61978 25.7451 9.74377 25.9 9.89998C26.2104 10.2123 26.3846 10.6347 26.3846 11.075C26.3846 11.5153 26.2104 11.9377 25.9 12.25L17.65 20.5833L25.9 28.8333C26.2104 29.1456 26.3846 29.568 26.3846 30.0083C26.3846 30.4486 26.2104 30.871 25.9 31.1833C25.7456 31.3408 25.5616 31.4661 25.3584 31.5519C25.1553 31.6377 24.9372 31.6824 24.7167 31.6833C24.4961 31.6824 24.278 31.6377 24.0749 31.5519C23.8718 31.4661 23.6877 31.3408 23.5333 31.1833L14.1 21.7666C13.9308 21.6106 13.7958 21.4212 13.7035 21.2103C13.6111 20.9995 13.5634 20.7718 13.5634 20.5416C13.5634 20.3115 13.6111 20.0838 13.7035 19.873C13.7958 19.6621 13.9308 19.4727 14.1 19.3166V19.3166Z" fill="#BDBDBD"/>
                        </svg>
                    .courses__next
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.9 19.3166L16.4667 9.89998C16.3117 9.74377 16.1274 9.61978 15.9243 9.53516C15.7212 9.45055 15.5034 9.40698 15.2833 9.40698C15.0633 9.40698 14.8455 9.45055 14.6424 9.53516C14.4393 9.61978 14.2549 9.74377 14.1 9.89998C13.7896 10.2123 13.6154 10.6347 13.6154 11.075C13.6154 11.5153 13.7896 11.9377 14.1 12.25L22.35 20.5833L14.1 28.8333C13.7896 29.1456 13.6154 29.568 13.6154 30.0083C13.6154 30.4486 13.7896 30.871 14.1 31.1833C14.2544 31.3408 14.4384 31.4661 14.6416 31.5519C14.8447 31.6377 15.0628 31.6824 15.2833 31.6833C15.5039 31.6824 15.722 31.6377 15.9251 31.5519C16.1282 31.4661 16.3123 31.3408 16.4667 31.1833L25.9 21.7666C26.0692 21.6106 26.2042 21.4212 26.2965 21.2103C26.3889 20.9995 26.4366 20.7718 26.4366 20.5416C26.4366 20.3115 26.3889 20.0838 26.2965 19.873C26.2042 19.6621 26.0692 19.4727 25.9 19.3166Z" fill="#BDBDBD"/>
                        </svg>
            .courses__content#dizayn 
                .courses__swiper.swiper 
                    .courses__wrapper.swiper-wrapper 
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                    .courses__pagination
                .courses__navigation 
                    .courses__prev
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.1 19.3166L23.5333 9.89998C23.6883 9.74377 23.8726 9.61978 24.0757 9.53516C24.2788 9.45055 24.4966 9.40698 24.7167 9.40698C24.9367 9.40698 25.1545 9.45055 25.3576 9.53516C25.5607 9.61978 25.7451 9.74377 25.9 9.89998C26.2104 10.2123 26.3846 10.6347 26.3846 11.075C26.3846 11.5153 26.2104 11.9377 25.9 12.25L17.65 20.5833L25.9 28.8333C26.2104 29.1456 26.3846 29.568 26.3846 30.0083C26.3846 30.4486 26.2104 30.871 25.9 31.1833C25.7456 31.3408 25.5616 31.4661 25.3584 31.5519C25.1553 31.6377 24.9372 31.6824 24.7167 31.6833C24.4961 31.6824 24.278 31.6377 24.0749 31.5519C23.8718 31.4661 23.6877 31.3408 23.5333 31.1833L14.1 21.7666C13.9308 21.6106 13.7958 21.4212 13.7035 21.2103C13.6111 20.9995 13.5634 20.7718 13.5634 20.5416C13.5634 20.3115 13.6111 20.0838 13.7035 19.873C13.7958 19.6621 13.9308 19.4727 14.1 19.3166V19.3166Z" fill="#BDBDBD"/>
                        </svg>
                    .courses__next
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.9 19.3166L16.4667 9.89998C16.3117 9.74377 16.1274 9.61978 15.9243 9.53516C15.7212 9.45055 15.5034 9.40698 15.2833 9.40698C15.0633 9.40698 14.8455 9.45055 14.6424 9.53516C14.4393 9.61978 14.2549 9.74377 14.1 9.89998C13.7896 10.2123 13.6154 10.6347 13.6154 11.075C13.6154 11.5153 13.7896 11.9377 14.1 12.25L22.35 20.5833L14.1 28.8333C13.7896 29.1456 13.6154 29.568 13.6154 30.0083C13.6154 30.4486 13.7896 30.871 14.1 31.1833C14.2544 31.3408 14.4384 31.4661 14.6416 31.5519C14.8447 31.6377 15.0628 31.6824 15.2833 31.6833C15.5039 31.6824 15.722 31.6377 15.9251 31.5519C16.1282 31.4661 16.3123 31.3408 16.4667 31.1833L25.9 21.7666C26.0692 21.6106 26.2042 21.4212 26.2965 21.2103C26.3889 20.9995 26.4366 20.7718 26.4366 20.5416C26.4366 20.3115 26.3889 20.0838 26.2965 19.873C26.2042 19.6621 26.0692 19.4727 25.9 19.3166Z" fill="#BDBDBD"/>
                        </svg>
            .courses__content#copyright 
                .courses__swiper.swiper 
                    .courses__wrapper.swiper-wrapper 
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                    .courses__pagination
                .courses__navigation 
                    .courses__prev
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.1 19.3166L23.5333 9.89998C23.6883 9.74377 23.8726 9.61978 24.0757 9.53516C24.2788 9.45055 24.4966 9.40698 24.7167 9.40698C24.9367 9.40698 25.1545 9.45055 25.3576 9.53516C25.5607 9.61978 25.7451 9.74377 25.9 9.89998C26.2104 10.2123 26.3846 10.6347 26.3846 11.075C26.3846 11.5153 26.2104 11.9377 25.9 12.25L17.65 20.5833L25.9 28.8333C26.2104 29.1456 26.3846 29.568 26.3846 30.0083C26.3846 30.4486 26.2104 30.871 25.9 31.1833C25.7456 31.3408 25.5616 31.4661 25.3584 31.5519C25.1553 31.6377 24.9372 31.6824 24.7167 31.6833C24.4961 31.6824 24.278 31.6377 24.0749 31.5519C23.8718 31.4661 23.6877 31.3408 23.5333 31.1833L14.1 21.7666C13.9308 21.6106 13.7958 21.4212 13.7035 21.2103C13.6111 20.9995 13.5634 20.7718 13.5634 20.5416C13.5634 20.3115 13.6111 20.0838 13.7035 19.873C13.7958 19.6621 13.9308 19.4727 14.1 19.3166V19.3166Z" fill="#BDBDBD"/>
                        </svg>
                    .courses__next
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.9 19.3166L16.4667 9.89998C16.3117 9.74377 16.1274 9.61978 15.9243 9.53516C15.7212 9.45055 15.5034 9.40698 15.2833 9.40698C15.0633 9.40698 14.8455 9.45055 14.6424 9.53516C14.4393 9.61978 14.2549 9.74377 14.1 9.89998C13.7896 10.2123 13.6154 10.6347 13.6154 11.075C13.6154 11.5153 13.7896 11.9377 14.1 12.25L22.35 20.5833L14.1 28.8333C13.7896 29.1456 13.6154 29.568 13.6154 30.0083C13.6154 30.4486 13.7896 30.871 14.1 31.1833C14.2544 31.3408 14.4384 31.4661 14.6416 31.5519C14.8447 31.6377 15.0628 31.6824 15.2833 31.6833C15.5039 31.6824 15.722 31.6377 15.9251 31.5519C16.1282 31.4661 16.3123 31.3408 16.4667 31.1833L25.9 21.7666C26.0692 21.6106 26.2042 21.4212 26.2965 21.2103C26.3889 20.9995 26.4366 20.7718 26.4366 20.5416C26.4366 20.3115 26.3889 20.0838 26.2965 19.873C26.2042 19.6621 26.0692 19.4727 25.9 19.3166Z" fill="#BDBDBD"/>
                        </svg>
            .courses__content#psy 
                .courses__swiper.swiper 
                    .courses__wrapper.swiper-wrapper 
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                    .courses__pagination
                .courses__navigation 
                    .courses__prev
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.1 19.3166L23.5333 9.89998C23.6883 9.74377 23.8726 9.61978 24.0757 9.53516C24.2788 9.45055 24.4966 9.40698 24.7167 9.40698C24.9367 9.40698 25.1545 9.45055 25.3576 9.53516C25.5607 9.61978 25.7451 9.74377 25.9 9.89998C26.2104 10.2123 26.3846 10.6347 26.3846 11.075C26.3846 11.5153 26.2104 11.9377 25.9 12.25L17.65 20.5833L25.9 28.8333C26.2104 29.1456 26.3846 29.568 26.3846 30.0083C26.3846 30.4486 26.2104 30.871 25.9 31.1833C25.7456 31.3408 25.5616 31.4661 25.3584 31.5519C25.1553 31.6377 24.9372 31.6824 24.7167 31.6833C24.4961 31.6824 24.278 31.6377 24.0749 31.5519C23.8718 31.4661 23.6877 31.3408 23.5333 31.1833L14.1 21.7666C13.9308 21.6106 13.7958 21.4212 13.7035 21.2103C13.6111 20.9995 13.5634 20.7718 13.5634 20.5416C13.5634 20.3115 13.6111 20.0838 13.7035 19.873C13.7958 19.6621 13.9308 19.4727 14.1 19.3166V19.3166Z" fill="#BDBDBD"/>
                        </svg>
                    .courses__next
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.9 19.3166L16.4667 9.89998C16.3117 9.74377 16.1274 9.61978 15.9243 9.53516C15.7212 9.45055 15.5034 9.40698 15.2833 9.40698C15.0633 9.40698 14.8455 9.45055 14.6424 9.53516C14.4393 9.61978 14.2549 9.74377 14.1 9.89998C13.7896 10.2123 13.6154 10.6347 13.6154 11.075C13.6154 11.5153 13.7896 11.9377 14.1 12.25L22.35 20.5833L14.1 28.8333C13.7896 29.1456 13.6154 29.568 13.6154 30.0083C13.6154 30.4486 13.7896 30.871 14.1 31.1833C14.2544 31.3408 14.4384 31.4661 14.6416 31.5519C14.8447 31.6377 15.0628 31.6824 15.2833 31.6833C15.5039 31.6824 15.722 31.6377 15.9251 31.5519C16.1282 31.4661 16.3123 31.3408 16.4667 31.1833L25.9 21.7666C26.0692 21.6106 26.2042 21.4212 26.2965 21.2103C26.3889 20.9995 26.4366 20.7718 26.4366 20.5416C26.4366 20.3115 26.3889 20.0838 26.2965 19.873C26.2042 19.6621 26.0692 19.4727 25.9 19.3166Z" fill="#BDBDBD"/>
                        </svg>
            a(href="#!").courses__btn 
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.8333 9.16671H10.8333V4.16671C10.8333 3.94569 10.7455 3.73373 10.5893 3.57745C10.433 3.42117 10.221 3.33337 9.99999 3.33337C9.77898 3.33337 9.56702 3.42117 9.41074 3.57745C9.25446 3.73373 9.16666 3.94569 9.16666 4.16671V9.16671H4.16666C3.94565 9.16671 3.73369 9.2545 3.57741 9.41079C3.42113 9.56707 3.33333 9.77903 3.33333 10C3.33333 10.2211 3.42113 10.433 3.57741 10.5893C3.73369 10.7456 3.94565 10.8334 4.16666 10.8334H9.16666V15.8334C9.16666 16.0544 9.25446 16.2663 9.41074 16.4226C9.56702 16.5789 9.77898 16.6667 9.99999 16.6667C10.221 16.6667 10.433 16.5789 10.5893 16.4226C10.7455 16.2663 10.8333 16.0544 10.8333 15.8334V10.8334H15.8333C16.0543 10.8334 16.2663 10.7456 16.4226 10.5893C16.5789 10.433 16.6667 10.2211 16.6667 10C16.6667 9.77903 16.5789 9.56707 16.4226 9.41079C16.2663 9.2545 16.0543 9.16671 15.8333 9.16671Z" fill="white"/>
                </svg>
                | Все курсы


mixin courses-poxozh()
    .courses.pohozh  
        .courses__body.container 
            h2.title.courses__title Похожие курсы
            .courses__content.active 
                .courses__swiper.swiper 
                    .courses__wrapper.swiper-wrapper 
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                        +courses-item
                    .courses__pagination
                .courses__navigation 
                    .courses__prev
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.1 19.3166L23.5333 9.89998C23.6883 9.74377 23.8726 9.61978 24.0757 9.53516C24.2788 9.45055 24.4966 9.40698 24.7167 9.40698C24.9367 9.40698 25.1545 9.45055 25.3576 9.53516C25.5607 9.61978 25.7451 9.74377 25.9 9.89998C26.2104 10.2123 26.3846 10.6347 26.3846 11.075C26.3846 11.5153 26.2104 11.9377 25.9 12.25L17.65 20.5833L25.9 28.8333C26.2104 29.1456 26.3846 29.568 26.3846 30.0083C26.3846 30.4486 26.2104 30.871 25.9 31.1833C25.7456 31.3408 25.5616 31.4661 25.3584 31.5519C25.1553 31.6377 24.9372 31.6824 24.7167 31.6833C24.4961 31.6824 24.278 31.6377 24.0749 31.5519C23.8718 31.4661 23.6877 31.3408 23.5333 31.1833L14.1 21.7666C13.9308 21.6106 13.7958 21.4212 13.7035 21.2103C13.6111 20.9995 13.5634 20.7718 13.5634 20.5416C13.5634 20.3115 13.6111 20.0838 13.7035 19.873C13.7958 19.6621 13.9308 19.4727 14.1 19.3166V19.3166Z" fill="#BDBDBD"/>
                        </svg>
                    .courses__next
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.9 19.3166L16.4667 9.89998C16.3117 9.74377 16.1274 9.61978 15.9243 9.53516C15.7212 9.45055 15.5034 9.40698 15.2833 9.40698C15.0633 9.40698 14.8455 9.45055 14.6424 9.53516C14.4393 9.61978 14.2549 9.74377 14.1 9.89998C13.7896 10.2123 13.6154 10.6347 13.6154 11.075C13.6154 11.5153 13.7896 11.9377 14.1 12.25L22.35 20.5833L14.1 28.8333C13.7896 29.1456 13.6154 29.568 13.6154 30.0083C13.6154 30.4486 13.7896 30.871 14.1 31.1833C14.2544 31.3408 14.4384 31.4661 14.6416 31.5519C14.8447 31.6377 15.0628 31.6824 15.2833 31.6833C15.5039 31.6824 15.722 31.6377 15.9251 31.5519C16.1282 31.4661 16.3123 31.3408 16.4667 31.1833L25.9 21.7666C26.0692 21.6106 26.2042 21.4212 26.2965 21.2103C26.3889 20.9995 26.4366 20.7718 26.4366 20.5416C26.4366 20.3115 26.3889 20.0838 26.2965 19.873C26.2042 19.6621 26.0692 19.4727 25.9 19.3166Z" fill="#BDBDBD"/>
                        </svg>


mixin courses-block()
    .courses
        .courses__body.container 
            h2.title.courses__title.mb-20 Популярные курсы 
            .courses__cat   
                .courses__cat-track 
                    button(type="button" data-target="razrabotka").courses__cat-item.active Разработка
                    button(type="button" data-target="dizayn").courses__cat-item Дизайн
                    button(type="button" data-target="copyright").courses__cat-item Копирайтинг
                    button(type="button" data-target="psy").courses__cat-item Психология
            .courses__content.block#razrabotka.active 
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
            .courses__content.block#dizayn 
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
            .courses__content.block#copyright 
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
            .courses__content.block#psy 
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item

mixin courses-school()
    .courses 
        .courses__body.container 
            h2.title.courses__title.mb-20 Все курсы от SKillbox
            .courses__cat   
                .courses__cat-track 
                    button(type="button" data-target="razrabotka").courses__cat-item.active Разработка
                    button(type="button" data-target="dizayn").courses__cat-item Дизайн
                    button(type="button" data-target="copyright").courses__cat-item Копирайтинг
                    button(type="button" data-target="psy").courses__cat-item Психология
            .courses__content.block#razrabotka.active 
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
            .courses__content.block#dizayn 
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
            .courses__content.block#copyright 
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
            .courses__content.block#psy 
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item
                +courses-item