mixin form()
    .form 
        .form__body.container 
            h2.title.form__title Оставьте отзыв!
            form(action="#").form__content
                .form__row
                    .custom-select 
                        select(name="") 
                            option(value="0") Выберите курс
                            option(value="0") C#
                            option(value="0") PYTHON
                            option(value="0") HTML
                textarea(placeholder="Ваше мнение")
                .form__row 
                    textarea(placeholder="Плюсы")
                    textarea(placeholder="Минусы")
                .form__row 
                    input(placeholder="Имя")
                    input(placeholder="E-Mail")
                button(type="submit").form__btn 
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.7503 8.40012C17.5162 8.11899 17.2232 7.89269 16.892 7.73718C16.5608 7.58167 16.1995 7.50074 15.8337 7.50012H12.0337L12.5003 6.30845C12.6944 5.78669 12.7591 5.22562 12.6887 4.67339C12.6183 4.12115 12.4151 3.59422 12.0963 3.13781C11.7776 2.6814 11.3528 2.30912 10.8586 2.0529C10.3644 1.79669 9.81536 1.6642 9.25866 1.66679C9.09836 1.66712 8.94156 1.71368 8.80705 1.80089C8.67255 1.88809 8.56605 2.01224 8.50033 2.15845L6.12533 7.50012H4.16699C3.50395 7.50012 2.86807 7.76351 2.39923 8.23235C1.93038 8.70119 1.66699 9.33708 1.66699 10.0001V15.8335C1.66699 16.4965 1.93038 17.1324 2.39923 17.6012C2.86807 18.0701 3.50395 18.3335 4.16699 18.3335H14.7753C15.3602 18.3333 15.9264 18.128 16.3756 17.7535C16.8248 17.3789 17.1284 16.8587 17.2337 16.2835L18.292 10.4501C18.3575 10.0896 18.3429 9.7191 18.2493 9.36485C18.1557 9.01059 17.9853 8.68125 17.7503 8.40012ZM5.83366 16.6668H4.16699C3.94598 16.6668 3.73402 16.579 3.57774 16.4227C3.42146 16.2664 3.33366 16.0545 3.33366 15.8335V10.0001C3.33366 9.77911 3.42146 9.56714 3.57774 9.41086C3.73402 9.25458 3.94598 9.16679 4.16699 9.16679H5.83366V16.6668ZM16.667 10.1501L15.6087 15.9835C15.5732 16.1776 15.4699 16.3528 15.3173 16.478C15.1647 16.6031 14.9726 16.67 14.7753 16.6668H7.50033V8.50845L9.76699 3.40845C10.0003 3.47647 10.217 3.59212 10.4034 3.7481C10.5897 3.90409 10.7418 4.09701 10.8498 4.3147C10.9579 4.53238 11.0196 4.77011 11.0312 5.01287C11.0428 5.25563 11.0039 5.49815 10.917 5.72512L10.4753 6.91679C10.3812 7.16866 10.3494 7.43957 10.3827 7.70639C10.416 7.97321 10.5133 8.22802 10.6664 8.44907C10.8195 8.67012 11.0238 8.85084 11.2619 8.97582C11.5 9.1008 11.7648 9.16632 12.0337 9.16679H15.8337C15.9561 9.16659 16.0771 9.19336 16.188 9.24522C16.2989 9.29707 16.397 9.37272 16.4753 9.46678C16.5556 9.55955 16.6144 9.66891 16.6475 9.78703C16.6807 9.90515 16.6873 10.0291 16.667 10.1501Z" fill="white"/>
                    </svg>
                    | Оставить отзыв