mixin logo()
    a(href="index.html").logo 
        span.logo__title <span class="orange">Edu</span>cator
        span.logo__desc Все курсы в одном месте

mixin logo-white()
    a(href="index.html").logo.white  
        span.logo__title <span class="orange">Edu</span>cator
        span.logo__desc Все курсы в одном месте
