mixin news-item()
    .news__item.swiper-slide
        .news__item-img 
            img(src="@img/intro.png", alt="" draggable="false")
        .news__item-content 
            .news__item-header 
                p.news__item-cat Новости
                p.news__item-data 10.09.2022
            p.news__item-title Новая школа на нашей платформе!
            p.news__item-p Мы добавили школу USmart и курсы по Математике.
            a(href="#!").news__item-link Читать 

mixin news()
    .news 
        //- .news__el 
        .news__body.container 
            h2.title.news__title Последние новости
            .news__content 
                .news__swiper.swiper 
                    .news__wrapper.swiper-wrapper 
                        +news-item
                        +news-item
                        +news-item
                        +news-item
                        +news-item
                        +news-item
                    .news__pagination
                .news__navigation 
                    .news__prev
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.1 19.3166L23.5333 9.89998C23.6883 9.74377 23.8726 9.61978 24.0757 9.53516C24.2788 9.45055 24.4966 9.40698 24.7167 9.40698C24.9367 9.40698 25.1545 9.45055 25.3576 9.53516C25.5607 9.61978 25.7451 9.74377 25.9 9.89998C26.2104 10.2123 26.3846 10.6347 26.3846 11.075C26.3846 11.5153 26.2104 11.9377 25.9 12.25L17.65 20.5833L25.9 28.8333C26.2104 29.1456 26.3846 29.568 26.3846 30.0083C26.3846 30.4486 26.2104 30.871 25.9 31.1833C25.7456 31.3408 25.5616 31.4661 25.3584 31.5519C25.1553 31.6377 24.9372 31.6824 24.7167 31.6833C24.4961 31.6824 24.278 31.6377 24.0749 31.5519C23.8718 31.4661 23.6877 31.3408 23.5333 31.1833L14.1 21.7666C13.9308 21.6106 13.7958 21.4212 13.7035 21.2103C13.6111 20.9995 13.5634 20.7718 13.5634 20.5416C13.5634 20.3115 13.6111 20.0838 13.7035 19.873C13.7958 19.6621 13.9308 19.4727 14.1 19.3166V19.3166Z" fill="#BDBDBD"/>
                        </svg>
                    .news__next
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.9 19.3166L16.4667 9.89998C16.3117 9.74377 16.1274 9.61978 15.9243 9.53516C15.7212 9.45055 15.5034 9.40698 15.2833 9.40698C15.0633 9.40698 14.8455 9.45055 14.6424 9.53516C14.4393 9.61978 14.2549 9.74377 14.1 9.89998C13.7896 10.2123 13.6154 10.6347 13.6154 11.075C13.6154 11.5153 13.7896 11.9377 14.1 12.25L22.35 20.5833L14.1 28.8333C13.7896 29.1456 13.6154 29.568 13.6154 30.0083C13.6154 30.4486 13.7896 30.871 14.1 31.1833C14.2544 31.3408 14.4384 31.4661 14.6416 31.5519C14.8447 31.6377 15.0628 31.6824 15.2833 31.6833C15.5039 31.6824 15.722 31.6377 15.9251 31.5519C16.1282 31.4661 16.3123 31.3408 16.4667 31.1833L25.9 21.7666C26.0692 21.6106 26.2042 21.4212 26.2965 21.2103C26.3889 20.9995 26.4366 20.7718 26.4366 20.5416C26.4366 20.3115 26.3889 20.0838 26.2965 19.873C26.2042 19.6621 26.0692 19.4727 25.9 19.3166Z" fill="#BDBDBD"/>
                        </svg>
            a(href="#!").news__btn  
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.05647 6.99526L7.0546 6.99678L7.05281 6.99851L7.05647 6.99526ZM15.3516 6.83981C15.2936 6.78394 15.2293 6.73504 15.1599 6.69414C15.0617 6.63636 14.9527 6.59933 14.8397 6.58534C14.7266 6.57135 14.6119 6.5807 14.5026 6.61281C14.3933 6.64493 14.2917 6.69912 14.2042 6.77204C14.1167 6.84495 14.045 6.93505 13.9937 7.03676C13.7067 7.60233 13.3108 8.10566 12.8287 8.51787C12.9024 8.10254 12.9396 7.68155 12.9398 7.25973C12.9414 5.97648 12.6028 4.71574 11.9587 3.60587C11.3145 2.49599 10.3878 1.57664 9.27281 0.941396C9.14999 0.871769 9.01148 0.834488 8.8703 0.833051C8.72912 0.831614 8.58989 0.866068 8.46567 0.933181C8.34145 1.00029 8.23632 1.09787 8.16013 1.21674C8.08395 1.33561 8.03922 1.47189 8.03014 1.61279C7.9835 2.40293 7.77694 3.17539 7.42296 3.88334C7.06898 4.5913 6.57496 5.22003 5.97083 5.73142L5.77877 5.88767C5.14703 6.31275 4.58785 6.83676 4.12269 7.43959C3.39962 8.35051 2.89872 9.41737 2.65973 10.5556C2.42074 11.6938 2.45023 12.872 2.74585 13.9968C3.04147 15.1216 3.5951 16.1621 4.36283 17.0357C5.13055 17.9093 6.09127 18.5921 7.16878 19.0298C7.29529 19.0815 7.43259 19.1012 7.56855 19.0873C7.70451 19.0734 7.83496 19.0263 7.94839 18.95C8.06182 18.8738 8.15475 18.7708 8.21897 18.6502C8.2832 18.5295 8.31675 18.3949 8.31666 18.2583C8.31607 18.1699 8.30207 18.0821 8.27516 17.9979C8.08872 17.297 8.03503 16.5675 8.11687 15.847C8.9054 17.3342 10.1712 18.5131 11.7106 19.1941C11.8985 19.2782 12.111 19.2895 12.3067 19.2259C13.523 18.8333 14.6188 18.1362 15.4898 17.2009C16.3608 16.2656 16.9782 15.1231 17.2833 13.882C17.5884 12.6408 17.5711 11.3423 17.233 10.1097C16.8949 8.8772 16.2472 7.75157 15.3516 6.83981ZM12.0976 17.5324C11.3712 17.1642 10.7304 16.6473 10.2169 16.0153C9.70335 15.3832 9.32862 14.6501 9.11702 13.8637C9.0524 13.599 9.00241 13.3308 8.96728 13.0605C8.94348 12.8884 8.86648 12.728 8.74705 12.6018C8.62762 12.4756 8.47173 12.3898 8.30119 12.3566C8.24865 12.3462 8.19522 12.341 8.14166 12.3411C7.9952 12.3411 7.85131 12.3796 7.7245 12.4529C7.5977 12.5262 7.49247 12.6317 7.41941 12.7586C6.72797 13.9512 6.38024 15.312 6.41477 16.6901C5.80664 16.2173 5.2984 15.6284 4.9195 14.9578C4.54061 14.2871 4.2986 13.5478 4.2075 12.7829C4.1164 12.018 4.17802 11.2426 4.38879 10.5017C4.59956 9.76078 4.95529 9.06906 5.43536 8.46663C5.79987 7.99316 6.2396 7.58271 6.73703 7.25163C6.75857 7.23773 6.77922 7.22251 6.79888 7.20605C6.79888 7.20605 7.04612 7.00149 7.05457 6.99681C8.24182 5.99261 9.08624 4.64307 9.47019 3.13623C10.3782 3.97559 10.9836 5.09125 11.1925 6.30999C11.4014 7.52872 11.202 8.78232 10.6254 9.87614C10.5492 10.0221 10.5179 10.1873 10.5356 10.351C10.5532 10.5147 10.6189 10.6696 10.7244 10.796C10.8299 10.9224 10.9705 11.0147 11.1284 11.0613C11.2863 11.1079 11.4545 11.1067 11.6117 11.0578C12.8882 10.6577 14.0115 9.87607 14.8303 8.81822C15.3224 9.54513 15.6442 10.3737 15.7715 11.2423C15.8989 12.1108 15.8287 12.9969 15.566 13.8345C15.3033 14.6721 14.855 15.4397 14.2545 16.0799C13.6539 16.7202 12.9166 17.2167 12.0975 17.5324L12.0976 17.5324Z" fill="white"/>
                </svg>
                span Все новости 