mixin product()
    .products__item 
        .products__item-img
            img(src="@img/intro.png", alt="" draggable="false")
        .products__item-content
            .products__item-header 
                p.products__item-cat Geek Brains
                .products__item-rating 
                    <svg width="70" height="14" viewBox="0 0 70 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.8334 5.89167C12.8917 5.6 12.6584 5.25 12.3667 5.25L9.04175 4.78334L7.52508 1.75C7.46675 1.63334 7.40841 1.575 7.29175 1.51667C7.00008 1.34167 6.65008 1.45834 6.47508 1.75L5.01675 4.78334L1.69175 5.25C1.51675 5.25 1.40008 5.30834 1.34175 5.425C1.10841 5.65834 1.10841 6.00834 1.34175 6.24167L3.73341 8.575L3.15008 11.9C3.15008 12.0167 3.15008 12.1333 3.20841 12.25C3.38341 12.5417 3.73341 12.6583 4.02508 12.4833L7.00008 10.9083L9.97508 12.4833C10.0334 12.5417 10.1501 12.5417 10.2667 12.5417C10.3251 12.5417 10.3251 12.5417 10.3834 12.5417C10.6751 12.4833 10.9084 12.1917 10.8501 11.8417L10.2667 8.51667L12.6584 6.18334C12.7751 6.125 12.8334 6.00834 12.8334 5.89167Z" fill="#FCCD05"/>
                        <path d="M26.8334 5.89167C26.8917 5.6 26.6584 5.25 26.3667 5.25L23.0417 4.78334L21.5251 1.75C21.4667 1.63334 21.4084 1.575 21.2917 1.51667C21.0001 1.34167 20.6501 1.45834 20.4751 1.75L19.0167 4.78334L15.6917 5.25C15.5167 5.25 15.4001 5.30834 15.3417 5.425C15.1084 5.65834 15.1084 6.00834 15.3417 6.24167L17.7334 8.575L17.1501 11.9C17.1501 12.0167 17.1501 12.1333 17.2084 12.25C17.3834 12.5417 17.7334 12.6583 18.0251 12.4833L21.0001 10.9083L23.9751 12.4833C24.0334 12.5417 24.1501 12.5417 24.2667 12.5417C24.3251 12.5417 24.3251 12.5417 24.3834 12.5417C24.6751 12.4833 24.9084 12.1917 24.8501 11.8417L24.2667 8.51667L26.6584 6.18334C26.7751 6.125 26.8334 6.00834 26.8334 5.89167Z" fill="#FCCD05"/>
                        <path d="M40.8334 5.89167C40.8917 5.6 40.6584 5.25 40.3667 5.25L37.0417 4.78334L35.5251 1.75C35.4667 1.63334 35.4084 1.575 35.2917 1.51667C35.0001 1.34167 34.6501 1.45834 34.4751 1.75L33.0167 4.78334L29.6917 5.25C29.5167 5.25 29.4001 5.30834 29.3417 5.425C29.1084 5.65834 29.1084 6.00834 29.3417 6.24167L31.7334 8.575L31.1501 11.9C31.1501 12.0167 31.1501 12.1333 31.2084 12.25C31.3834 12.5417 31.7334 12.6583 32.0251 12.4833L35.0001 10.9083L37.9751 12.4833C38.0334 12.5417 38.1501 12.5417 38.2667 12.5417C38.3251 12.5417 38.3251 12.5417 38.3834 12.5417C38.6751 12.4833 38.9084 12.1917 38.8501 11.8417L38.2667 8.51667L40.6584 6.18334C40.7751 6.125 40.8334 6.00834 40.8334 5.89167Z" fill="#FCCD05"/>
                        <path d="M54.8334 5.89167C54.8917 5.6 54.6584 5.25 54.3667 5.25L51.0417 4.78334L49.5251 1.75C49.4667 1.63334 49.4084 1.575 49.2917 1.51667C49.0001 1.34167 48.6501 1.45834 48.4751 1.75L47.0167 4.78334L43.6917 5.25C43.5167 5.25 43.4001 5.30834 43.3417 5.425C43.1084 5.65834 43.1084 6.00834 43.3417 6.24167L45.7334 8.575L45.1501 11.9C45.1501 12.0167 45.1501 12.1333 45.2084 12.25C45.3834 12.5417 45.7334 12.6583 46.0251 12.4833L49.0001 10.9083L51.9751 12.4833C52.0334 12.5417 52.1501 12.5417 52.2667 12.5417C52.3251 12.5417 52.3251 12.5417 52.3834 12.5417C52.6751 12.4833 52.9084 12.1917 52.8501 11.8417L52.2667 8.51667L54.6584 6.18334C54.7751 6.125 54.8334 6.00834 54.8334 5.89167Z" fill="#FCCD05"/>
                        <path d="M68.8334 5.89167C68.8917 5.6 68.6584 5.25 68.3667 5.25L65.0417 4.78334L63.5251 1.75C63.4667 1.63334 63.4084 1.575 63.2917 1.51667C63.0001 1.34167 62.6501 1.45834 62.4751 1.75L61.0167 4.78334L57.6917 5.25C57.5167 5.25 57.4001 5.30834 57.3417 5.425C57.1084 5.65834 57.1084 6.00834 57.3417 6.24167L59.7334 8.575L59.1501 11.9C59.1501 12.0167 59.1501 12.1333 59.2084 12.25C59.3834 12.5417 59.7334 12.6583 60.0251 12.4833L63.0001 10.9083L65.9751 12.4833C66.0334 12.5417 66.1501 12.5417 66.2667 12.5417C66.3251 12.5417 66.3251 12.5417 66.3834 12.5417C66.6751 12.4833 66.9084 12.1917 66.8501 11.8417L66.2667 8.51667L68.6584 6.18334C68.7751 6.125 68.8334 6.00834 68.8334 5.89167ZM65.2167 7.93334C65.1001 8.05 65.0417 8.28334 65.0417 8.45834L65.4501 10.9083L63.2334 9.74167C63.1751 9.68334 63.0584 9.68334 62.9417 9.68334V3.325L64.0501 5.54167C64.1084 5.71667 64.2834 5.83334 64.5167 5.83334L66.9667 6.18334L65.2167 7.93334Z" fill="#FCCD05"/>
                    </svg>
                    span (12 124 отзыва)
            h2.products__item-title Разработчик C#: с нуля до PRO!
            p.products__item-p Подробный курс по C# для начинающих от ведущих специалистов России и Европы.
            .products__item-tag 
                a(href="#!").products__item-tag-item С трудоустройством 
                a(href="#!").products__item-tag-item С рассрочкой
                a(href="#!").products__item-tag-item С нуля
                a(href="#!").products__item-tag-item С наставником
                a(href="#!").products__item-tag-item Есть пробный период
        .products__item-info
            .products__item-info-top
                .products__item-row 
                    span.products__item-label Длительность:
                    span.products__item-ans 7 месяцев
                .products__item-row 
                    span.products__item-label Дата начала:
                    span.products__item-ans 1 сентября
                .products__item-row 
                    span.products__item-label Формат:
                    span.products__item-ans В группе
                .products__item-row 
                    span.products__item-label Рассрочка:
                    span.products__item-ans 8 500 ₽/мес.
                .products__item-row.aife 
                    span.products__item-b Стоимость:
                    span.products__item-price 117 000 ₽
            .products__item-action 
                a(href="#!").products__item-btn-out На сайт курса 
                a(href="course.html").products__item-btn Подробнее 

mixin product-discount()
    .products__item 
        .products__item-discount Акция
        .products__item-img
            img(src="@img/intro.png", alt="" draggable="false")
        .products__item-content
            .products__item-header 
                p.products__item-cat Geek Brains
                .products__item-rating 
                    <svg width="70" height="14" viewBox="0 0 70 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.8334 5.89167C12.8917 5.6 12.6584 5.25 12.3667 5.25L9.04175 4.78334L7.52508 1.75C7.46675 1.63334 7.40841 1.575 7.29175 1.51667C7.00008 1.34167 6.65008 1.45834 6.47508 1.75L5.01675 4.78334L1.69175 5.25C1.51675 5.25 1.40008 5.30834 1.34175 5.425C1.10841 5.65834 1.10841 6.00834 1.34175 6.24167L3.73341 8.575L3.15008 11.9C3.15008 12.0167 3.15008 12.1333 3.20841 12.25C3.38341 12.5417 3.73341 12.6583 4.02508 12.4833L7.00008 10.9083L9.97508 12.4833C10.0334 12.5417 10.1501 12.5417 10.2667 12.5417C10.3251 12.5417 10.3251 12.5417 10.3834 12.5417C10.6751 12.4833 10.9084 12.1917 10.8501 11.8417L10.2667 8.51667L12.6584 6.18334C12.7751 6.125 12.8334 6.00834 12.8334 5.89167Z" fill="#FCCD05"/>
                        <path d="M26.8334 5.89167C26.8917 5.6 26.6584 5.25 26.3667 5.25L23.0417 4.78334L21.5251 1.75C21.4667 1.63334 21.4084 1.575 21.2917 1.51667C21.0001 1.34167 20.6501 1.45834 20.4751 1.75L19.0167 4.78334L15.6917 5.25C15.5167 5.25 15.4001 5.30834 15.3417 5.425C15.1084 5.65834 15.1084 6.00834 15.3417 6.24167L17.7334 8.575L17.1501 11.9C17.1501 12.0167 17.1501 12.1333 17.2084 12.25C17.3834 12.5417 17.7334 12.6583 18.0251 12.4833L21.0001 10.9083L23.9751 12.4833C24.0334 12.5417 24.1501 12.5417 24.2667 12.5417C24.3251 12.5417 24.3251 12.5417 24.3834 12.5417C24.6751 12.4833 24.9084 12.1917 24.8501 11.8417L24.2667 8.51667L26.6584 6.18334C26.7751 6.125 26.8334 6.00834 26.8334 5.89167Z" fill="#FCCD05"/>
                        <path d="M40.8334 5.89167C40.8917 5.6 40.6584 5.25 40.3667 5.25L37.0417 4.78334L35.5251 1.75C35.4667 1.63334 35.4084 1.575 35.2917 1.51667C35.0001 1.34167 34.6501 1.45834 34.4751 1.75L33.0167 4.78334L29.6917 5.25C29.5167 5.25 29.4001 5.30834 29.3417 5.425C29.1084 5.65834 29.1084 6.00834 29.3417 6.24167L31.7334 8.575L31.1501 11.9C31.1501 12.0167 31.1501 12.1333 31.2084 12.25C31.3834 12.5417 31.7334 12.6583 32.0251 12.4833L35.0001 10.9083L37.9751 12.4833C38.0334 12.5417 38.1501 12.5417 38.2667 12.5417C38.3251 12.5417 38.3251 12.5417 38.3834 12.5417C38.6751 12.4833 38.9084 12.1917 38.8501 11.8417L38.2667 8.51667L40.6584 6.18334C40.7751 6.125 40.8334 6.00834 40.8334 5.89167Z" fill="#FCCD05"/>
                        <path d="M54.8334 5.89167C54.8917 5.6 54.6584 5.25 54.3667 5.25L51.0417 4.78334L49.5251 1.75C49.4667 1.63334 49.4084 1.575 49.2917 1.51667C49.0001 1.34167 48.6501 1.45834 48.4751 1.75L47.0167 4.78334L43.6917 5.25C43.5167 5.25 43.4001 5.30834 43.3417 5.425C43.1084 5.65834 43.1084 6.00834 43.3417 6.24167L45.7334 8.575L45.1501 11.9C45.1501 12.0167 45.1501 12.1333 45.2084 12.25C45.3834 12.5417 45.7334 12.6583 46.0251 12.4833L49.0001 10.9083L51.9751 12.4833C52.0334 12.5417 52.1501 12.5417 52.2667 12.5417C52.3251 12.5417 52.3251 12.5417 52.3834 12.5417C52.6751 12.4833 52.9084 12.1917 52.8501 11.8417L52.2667 8.51667L54.6584 6.18334C54.7751 6.125 54.8334 6.00834 54.8334 5.89167Z" fill="#FCCD05"/>
                        <path d="M68.8334 5.89167C68.8917 5.6 68.6584 5.25 68.3667 5.25L65.0417 4.78334L63.5251 1.75C63.4667 1.63334 63.4084 1.575 63.2917 1.51667C63.0001 1.34167 62.6501 1.45834 62.4751 1.75L61.0167 4.78334L57.6917 5.25C57.5167 5.25 57.4001 5.30834 57.3417 5.425C57.1084 5.65834 57.1084 6.00834 57.3417 6.24167L59.7334 8.575L59.1501 11.9C59.1501 12.0167 59.1501 12.1333 59.2084 12.25C59.3834 12.5417 59.7334 12.6583 60.0251 12.4833L63.0001 10.9083L65.9751 12.4833C66.0334 12.5417 66.1501 12.5417 66.2667 12.5417C66.3251 12.5417 66.3251 12.5417 66.3834 12.5417C66.6751 12.4833 66.9084 12.1917 66.8501 11.8417L66.2667 8.51667L68.6584 6.18334C68.7751 6.125 68.8334 6.00834 68.8334 5.89167ZM65.2167 7.93334C65.1001 8.05 65.0417 8.28334 65.0417 8.45834L65.4501 10.9083L63.2334 9.74167C63.1751 9.68334 63.0584 9.68334 62.9417 9.68334V3.325L64.0501 5.54167C64.1084 5.71667 64.2834 5.83334 64.5167 5.83334L66.9667 6.18334L65.2167 7.93334Z" fill="#FCCD05"/>
                    </svg>
                    span (12 124 отзыва)
            h2.products__item-title Разработчик C#: с нуля до PRO!
            p.products__item-p Подробный курс по C# для начинающих от ведущих специалистов России и Европы.
            .products__item-tag 
                a(href="#!").products__item-tag-item С трудоустройством 
                a(href="#!").products__item-tag-item С рассрочкой
                a(href="#!").products__item-tag-item С нуля
                a(href="#!").products__item-tag-item С наставником
                a(href="#!").products__item-tag-item Есть пробный период
        .products__item-info
            .products__item-info-top
                .products__item-row 
                    span.products__item-label Длительность:
                    span.products__item-ans 7 месяцев
                .products__item-row 
                    span.products__item-label Дата начала:
                    span.products__item-ans 1 сентября
                .products__item-row 
                    span.products__item-label Формат:
                    span.products__item-ans В группе
                .products__item-row 
                    span.products__item-label Рассрочка:
                    span.products__item-ans 8 500 ₽/мес.
                .products__item-row.aife 
                    span.products__item-b Стоимость:
                    span.products__item-price 117 000 ₽
            .products__item-action 
                a(href="#!").products__item-btn-out На сайт курса 
                a(href="course.html").products__item-btn Подробнее 

mixin products()
    .products 
        .products__body.container 
            h1.products__title.subtitle Курсы по программированию на C#
            p.products__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .products__tag
                .products__tag-content
                    a(href="#!").products__tag-item.active С трудоустройством
                    a(href="#!").products__tag-item Для детей
                    a(href="#!").products__tag-item С нуля
                    a(href="#!").products__tag-item Есть пробный период
                    a(href="#!").products__tag-item.active С рассрочкой
                    a(href="#!").products__tag-item С проверкой ДЗ
                    a(href="#!").products__tag-item С наставником
                    a(href="#!").products__tag-item По акции
                    a(href="#!").products__tag-item.active Свободный график
                    a(href="#!").products__tag-item С сертификатом
                button(type='button').products__tag-btn Показать все
            p.products__filter Сортировать по: <u>длительности курсов</u>
                span ▲
            .products__content
                +product-discount 
                +product 
                +product 
                +product 
                +product 
                +product 
            a(href="#!").products__btn 
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.8333 9.16671H10.8333V4.16671C10.8333 3.94569 10.7455 3.73373 10.5892 3.57745C10.4329 3.42117 10.2209 3.33337 9.99992 3.33337C9.7789 3.33337 9.56694 3.42117 9.41066 3.57745C9.25438 3.73373 9.16658 3.94569 9.16658 4.16671V9.16671H4.16659C3.94557 9.16671 3.73361 9.2545 3.57733 9.41079C3.42105 9.56707 3.33325 9.77903 3.33325 10C3.33325 10.2211 3.42105 10.433 3.57733 10.5893C3.73361 10.7456 3.94557 10.8334 4.16659 10.8334H9.16658V15.8334C9.16658 16.0544 9.25438 16.2663 9.41066 16.4226C9.56694 16.5789 9.7789 16.6667 9.99992 16.6667C10.2209 16.6667 10.4329 16.5789 10.5892 16.4226C10.7455 16.2663 10.8333 16.0544 10.8333 15.8334V10.8334H15.8333C16.0543 10.8334 16.2662 10.7456 16.4225 10.5893C16.5788 10.433 16.6666 10.2211 16.6666 10C16.6666 9.77903 16.5788 9.56707 16.4225 9.41079C16.2662 9.2545 16.0543 9.16671 15.8333 9.16671Z" fill="white"/>
                </svg>
                | Показать ещё