mixin schools-item()
    .schools__item.swiper-slide 
        .schools__item-img 
            img(src="@img/skillbox.png", alt="" draggable="false")
        .schools__item-rating 
            <svg width="100" height="20" viewBox="0 0 100 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3333 8.41678C18.4167 8.00011 18.0833 7.50011 17.6667 7.50011L12.9167 6.83344L10.75 2.50011C10.6667 2.33344 10.5833 2.25011 10.4167 2.16678C10 1.91678 9.50001 2.08344 9.25001 2.50011L7.16667 6.83344L2.41667 7.50011C2.16667 7.50011 2.00001 7.58345 1.91667 7.75011C1.58334 8.08345 1.58334 8.58344 1.91667 8.91678L5.33334 12.2501L4.50001 17.0001C4.50001 17.1668 4.50001 17.3334 4.58334 17.5001C4.83334 17.9168 5.33334 18.0834 5.75001 17.8334L10 15.5834L14.25 17.8334C14.3333 17.9168 14.5 17.9168 14.6667 17.9168C14.75 17.9168 14.75 17.9168 14.8333 17.9168C15.25 17.8334 15.5833 17.4168 15.5 16.9168L14.6667 12.1668L18.0833 8.83344C18.25 8.75011 18.3333 8.58345 18.3333 8.41678Z" fill="#FCCD05"/>
            <path d="M38.3333 8.41678C38.4167 8.00011 38.0833 7.50011 37.6667 7.50011L32.9167 6.83344L30.75 2.50011C30.6667 2.33344 30.5833 2.25011 30.4167 2.16678C30 1.91678 29.5 2.08344 29.25 2.50011L27.1667 6.83344L22.4167 7.50011C22.1667 7.50011 22 7.58345 21.9167 7.75011C21.5833 8.08345 21.5833 8.58344 21.9167 8.91678L25.3333 12.2501L24.5 17.0001C24.5 17.1668 24.5 17.3334 24.5833 17.5001C24.8333 17.9168 25.3333 18.0834 25.75 17.8334L30 15.5834L34.25 17.8334C34.3333 17.9168 34.5 17.9168 34.6667 17.9168C34.75 17.9168 34.75 17.9168 34.8333 17.9168C35.25 17.8334 35.5833 17.4168 35.5 16.9168L34.6667 12.1668L38.0833 8.83344C38.25 8.75011 38.3333 8.58345 38.3333 8.41678Z" fill="#FCCD05"/>
            <path d="M58.3333 8.41678C58.4167 8.00011 58.0833 7.50011 57.6667 7.50011L52.9167 6.83344L50.75 2.50011C50.6667 2.33344 50.5833 2.25011 50.4167 2.16678C50 1.91678 49.5 2.08344 49.25 2.50011L47.1667 6.83344L42.4167 7.50011C42.1667 7.50011 42 7.58345 41.9167 7.75011C41.5833 8.08345 41.5833 8.58344 41.9167 8.91678L45.3333 12.2501L44.5 17.0001C44.5 17.1668 44.5 17.3334 44.5833 17.5001C44.8333 17.9168 45.3333 18.0834 45.75 17.8334L50 15.5834L54.25 17.8334C54.3333 17.9168 54.5 17.9168 54.6667 17.9168C54.75 17.9168 54.75 17.9168 54.8333 17.9168C55.25 17.8334 55.5833 17.4168 55.5 16.9168L54.6667 12.1668L58.0833 8.83344C58.25 8.75011 58.3333 8.58345 58.3333 8.41678Z" fill="#FCCD05"/>
            <path d="M78.3333 8.41678C78.4167 8.00011 78.0833 7.50011 77.6667 7.50011L72.9167 6.83344L70.75 2.50011C70.6667 2.33344 70.5833 2.25011 70.4167 2.16678C70 1.91678 69.5 2.08344 69.25 2.50011L67.1667 6.83344L62.4167 7.50011C62.1667 7.50011 62 7.58345 61.9167 7.75011C61.5833 8.08345 61.5833 8.58344 61.9167 8.91678L65.3333 12.2501L64.5 17.0001C64.5 17.1668 64.5 17.3334 64.5833 17.5001C64.8333 17.9168 65.3333 18.0834 65.75 17.8334L70 15.5834L74.25 17.8334C74.3333 17.9168 74.5 17.9168 74.6667 17.9168C74.75 17.9168 74.75 17.9168 74.8333 17.9168C75.25 17.8334 75.5833 17.4168 75.5 16.9168L74.6667 12.1668L78.0833 8.83344C78.25 8.75011 78.3333 8.58345 78.3333 8.41678Z" fill="#FCCD05"/>
            <path d="M98.3333 8.41678C98.4167 8.00011 98.0833 7.50011 97.6667 7.50011L92.9167 6.83344L90.75 2.50011C90.6667 2.33344 90.5833 2.25011 90.4167 2.16678C90 1.91678 89.5 2.08344 89.25 2.50011L87.1667 6.83344L82.4167 7.50011C82.1667 7.50011 82 7.58345 81.9167 7.75011C81.5833 8.08345 81.5833 8.58344 81.9167 8.91678L85.3333 12.2501L84.5 17.0001C84.5 17.1668 84.5 17.3334 84.5833 17.5001C84.8333 17.9168 85.3333 18.0834 85.75 17.8334L90 15.5834L94.25 17.8334C94.3333 17.9168 94.5 17.9168 94.6667 17.9168C94.75 17.9168 94.75 17.9168 94.8333 17.9168C95.25 17.8334 95.5833 17.4168 95.5 16.9168L94.6667 12.1668L98.0833 8.83344C98.25 8.75011 98.3333 8.58345 98.3333 8.41678ZM93.1667 11.3334C93 11.5001 92.9167 11.8334 92.9167 12.0834L93.5 15.5834L90.3333 13.9168C90.25 13.8334 90.0833 13.8334 89.9167 13.8334V4.75011L91.5 7.91678C91.5833 8.16678 91.8333 8.33344 92.1667 8.33344L95.6667 8.83344L93.1667 11.3334Z" fill="#FCCD05"/>
            </svg>
        a(href="school.html").schools__item-btn Читать отзывы (12 214) 

mixin schools()
    .schools#schools 
        .schools__body.container 
            h2.title.schools__title Онлайн-школы
            .schools__content 
                .schools__swiper.swiper 
                    .schools__wrapper.swiper-wrapper 
                        +schools-item 
                        +schools-item 
                        +schools-item 
                        +schools-item 
                        +schools-item 
                        +schools-item 
                        +schools-item 
                    .schools__pagination
                .schools__navigation 
                    .schools__prev
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.1 19.3166L23.5333 9.89998C23.6883 9.74377 23.8726 9.61978 24.0757 9.53516C24.2788 9.45055 24.4966 9.40698 24.7167 9.40698C24.9367 9.40698 25.1545 9.45055 25.3576 9.53516C25.5607 9.61978 25.7451 9.74377 25.9 9.89998C26.2104 10.2123 26.3846 10.6347 26.3846 11.075C26.3846 11.5153 26.2104 11.9377 25.9 12.25L17.65 20.5833L25.9 28.8333C26.2104 29.1456 26.3846 29.568 26.3846 30.0083C26.3846 30.4486 26.2104 30.871 25.9 31.1833C25.7456 31.3408 25.5616 31.4661 25.3584 31.5519C25.1553 31.6377 24.9372 31.6824 24.7167 31.6833C24.4961 31.6824 24.278 31.6377 24.0749 31.5519C23.8718 31.4661 23.6877 31.3408 23.5333 31.1833L14.1 21.7666C13.9308 21.6106 13.7958 21.4212 13.7035 21.2103C13.6111 20.9995 13.5634 20.7718 13.5634 20.5416C13.5634 20.3115 13.6111 20.0838 13.7035 19.873C13.7958 19.6621 13.9308 19.4727 14.1 19.3166V19.3166Z" fill="#BDBDBD"/>
                        </svg>
                    .schools__next
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.9 19.3166L16.4667 9.89998C16.3117 9.74377 16.1274 9.61978 15.9243 9.53516C15.7212 9.45055 15.5034 9.40698 15.2833 9.40698C15.0633 9.40698 14.8455 9.45055 14.6424 9.53516C14.4393 9.61978 14.2549 9.74377 14.1 9.89998C13.7896 10.2123 13.6154 10.6347 13.6154 11.075C13.6154 11.5153 13.7896 11.9377 14.1 12.25L22.35 20.5833L14.1 28.8333C13.7896 29.1456 13.6154 29.568 13.6154 30.0083C13.6154 30.4486 13.7896 30.871 14.1 31.1833C14.2544 31.3408 14.4384 31.4661 14.6416 31.5519C14.8447 31.6377 15.0628 31.6824 15.2833 31.6833C15.5039 31.6824 15.722 31.6377 15.9251 31.5519C16.1282 31.4661 16.3123 31.3408 16.4667 31.1833L25.9 21.7666C26.0692 21.6106 26.2042 21.4212 26.2965 21.2103C26.3889 20.9995 26.4366 20.7718 26.4366 20.5416C26.4366 20.3115 26.3889 20.0838 26.2965 19.873C26.2042 19.6621 26.0692 19.4727 25.9 19.3166Z" fill="#BDBDBD"/>
                        </svg>

mixin schools-teacher()
    .schools#schools  
        .schools__body.container 
            h2.title.schools__title Где преподаёт
            .schools__content 
                .schools__swiper.swiper 
                    .schools__wrapper.swiper-wrapper 
                        +schools-item 
                        +schools-item 
                        +schools-item 
                        +schools-item 
                        +schools-item 
                        +schools-item 
                        +schools-item 
                    .schools__pagination
                .schools__navigation 
                    .schools__prev
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.1 19.3166L23.5333 9.89998C23.6883 9.74377 23.8726 9.61978 24.0757 9.53516C24.2788 9.45055 24.4966 9.40698 24.7167 9.40698C24.9367 9.40698 25.1545 9.45055 25.3576 9.53516C25.5607 9.61978 25.7451 9.74377 25.9 9.89998C26.2104 10.2123 26.3846 10.6347 26.3846 11.075C26.3846 11.5153 26.2104 11.9377 25.9 12.25L17.65 20.5833L25.9 28.8333C26.2104 29.1456 26.3846 29.568 26.3846 30.0083C26.3846 30.4486 26.2104 30.871 25.9 31.1833C25.7456 31.3408 25.5616 31.4661 25.3584 31.5519C25.1553 31.6377 24.9372 31.6824 24.7167 31.6833C24.4961 31.6824 24.278 31.6377 24.0749 31.5519C23.8718 31.4661 23.6877 31.3408 23.5333 31.1833L14.1 21.7666C13.9308 21.6106 13.7958 21.4212 13.7035 21.2103C13.6111 20.9995 13.5634 20.7718 13.5634 20.5416C13.5634 20.3115 13.6111 20.0838 13.7035 19.873C13.7958 19.6621 13.9308 19.4727 14.1 19.3166V19.3166Z" fill="#BDBDBD"/>
                        </svg>
                    .schools__next
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.9 19.3166L16.4667 9.89998C16.3117 9.74377 16.1274 9.61978 15.9243 9.53516C15.7212 9.45055 15.5034 9.40698 15.2833 9.40698C15.0633 9.40698 14.8455 9.45055 14.6424 9.53516C14.4393 9.61978 14.2549 9.74377 14.1 9.89998C13.7896 10.2123 13.6154 10.6347 13.6154 11.075C13.6154 11.5153 13.7896 11.9377 14.1 12.25L22.35 20.5833L14.1 28.8333C13.7896 29.1456 13.6154 29.568 13.6154 30.0083C13.6154 30.4486 13.7896 30.871 14.1 31.1833C14.2544 31.3408 14.4384 31.4661 14.6416 31.5519C14.8447 31.6377 15.0628 31.6824 15.2833 31.6833C15.5039 31.6824 15.722 31.6377 15.9251 31.5519C16.1282 31.4661 16.3123 31.3408 16.4667 31.1833L25.9 21.7666C26.0692 21.6106 26.2042 21.4212 26.2965 21.2103C26.3889 20.9995 26.4366 20.7718 26.4366 20.5416C26.4366 20.3115 26.3889 20.0838 26.2965 19.873C26.2042 19.6621 26.0692 19.4727 25.9 19.3166Z" fill="#BDBDBD"/>
                        </svg>