mixin teachers-item()
    .teachers__item.swiper-slide 
        .teachers__item-user 
            .teachers__item-user-img 
                img(src="@img/teacher-1.png", alt="" draggable="false")
            p.teachers__item-user-p Филипов<br>Юрий
        .teachers__item-content 
            p.teachers__item-p Ведущий специалист Сбербанка по продуктовому дизайну. Общий опыт работы более 15 лет.
            .teachers__item-row 
                p.teachers__item-label Направление:
                p.teachers__item-ans Продуктовый<br>дизайн
            .teachers__item-row 
                p.teachers__item-label Школа:
                p.teachers__item-ans Geek Brains
            .teachers__item-row 
                p.teachers__item-label Опыт работы:
                p.teachers__item-ans 15+ лет
            .teachers__item-footer 
                a(href="#!").teachers__item-btn Подробнее 


mixin teachers()
    .teachers 
        //- .teachers__el-top
        .teachers__body.container 
            h2.title.teachers__title Преподаватели школ
            .teachers__content 
                .teachers__swiper.swiper 
                    .teachers__wrapper.swiper-wrapper 
                        +teachers-item
                        +teachers-item
                        +teachers-item
                        +teachers-item
                        +teachers-item
                        +teachers-item
                        +teachers-item
                    .teachers__pagination
                .teachers__navigation 
                    .teachers__prev
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.1 19.3166L23.5333 9.89998C23.6883 9.74377 23.8726 9.61978 24.0757 9.53516C24.2788 9.45055 24.4966 9.40698 24.7167 9.40698C24.9367 9.40698 25.1545 9.45055 25.3576 9.53516C25.5607 9.61978 25.7451 9.74377 25.9 9.89998C26.2104 10.2123 26.3846 10.6347 26.3846 11.075C26.3846 11.5153 26.2104 11.9377 25.9 12.25L17.65 20.5833L25.9 28.8333C26.2104 29.1456 26.3846 29.568 26.3846 30.0083C26.3846 30.4486 26.2104 30.871 25.9 31.1833C25.7456 31.3408 25.5616 31.4661 25.3584 31.5519C25.1553 31.6377 24.9372 31.6824 24.7167 31.6833C24.4961 31.6824 24.278 31.6377 24.0749 31.5519C23.8718 31.4661 23.6877 31.3408 23.5333 31.1833L14.1 21.7666C13.9308 21.6106 13.7958 21.4212 13.7035 21.2103C13.6111 20.9995 13.5634 20.7718 13.5634 20.5416C13.5634 20.3115 13.6111 20.0838 13.7035 19.873C13.7958 19.6621 13.9308 19.4727 14.1 19.3166V19.3166Z" fill="#BDBDBD"/>
                        </svg>
                    .teachers__next
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.9 19.3166L16.4667 9.89998C16.3117 9.74377 16.1274 9.61978 15.9243 9.53516C15.7212 9.45055 15.5034 9.40698 15.2833 9.40698C15.0633 9.40698 14.8455 9.45055 14.6424 9.53516C14.4393 9.61978 14.2549 9.74377 14.1 9.89998C13.7896 10.2123 13.6154 10.6347 13.6154 11.075C13.6154 11.5153 13.7896 11.9377 14.1 12.25L22.35 20.5833L14.1 28.8333C13.7896 29.1456 13.6154 29.568 13.6154 30.0083C13.6154 30.4486 13.7896 30.871 14.1 31.1833C14.2544 31.3408 14.4384 31.4661 14.6416 31.5519C14.8447 31.6377 15.0628 31.6824 15.2833 31.6833C15.5039 31.6824 15.722 31.6377 15.9251 31.5519C16.1282 31.4661 16.3123 31.3408 16.4667 31.1833L25.9 21.7666C26.0692 21.6106 26.2042 21.4212 26.2965 21.2103C26.3889 20.9995 26.4366 20.7718 26.4366 20.5416C26.4366 20.3115 26.3889 20.0838 26.2965 19.873C26.2042 19.6621 26.0692 19.4727 25.9 19.3166Z" fill="#BDBDBD"/>
                        </svg>