// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
}
body{
    width: 100%;
    overflow-x: hidden;
    background: #F9F8F4;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    .main{
        flex: 1 1 auto;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('../img/background-left.png');
            background-repeat: repeat-y;
            background-position: left top;
            width: 100%;
            height: 100%;
            z-index: -1;
            pointer-events: none;
            @include media(768){
                background-image: url('../img/background-left-sm.png');
            }
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            background-image: url('../img/background-right.png');
            background-repeat: repeat-y;
            background-position: right top;
            width: 100%;
            height: 100%;
            z-index: -1;
            pointer-events: none;
            @include media(768){
                background-image: url('../img/background-right-sm.png');
            }
        }
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: max-content;
    text-decoration: none;
    &.white{
        .logo__title{
            color: #fff;
        }
        .logo__desc{
            color: #E0E0E0;
        }
    }
    &__title{
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: -2px;  
        color: #333333;
        font-family: 'Rubik Mono One', sans-serif;
        .orange{
            color: #FF6A1B;  
            font-family: inherit
        }
    }
    &__desc{
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4F4F4F;
    }
}
ul{
    list-style-type: none;
}
.search{
    border-radius: 12px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    max-width: 392px;
    width: 100%;    
    &-sm{
        display: none;
        @include media(1200){
            display: block;
            margin-right: 15px;
        }
        &__btn{
            transition: 300ms ease-out;
            line-height: 0;
            svg{
                fill: #333;
            }
            &.active{
                svg{
                    fill: #FF6A1B;
                }
            }
        }
        &__wrap{
            position: absolute;
            width: 100%;
            top: 127px;
            left: 0;
            height: calc(100vh - 127px);
            padding: 20px 15px;
            opacity: 0;
            visibility: hidden;
            transition: 300ms ease-out;
            &.open{
                visibility: visible;
                opacity: 1;
            }
        }
        &__close{
            background: rgba(#333333, 0.7);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: -1;
            height: 100%;
        }
        &__content{
            background: #fff;
            padding: 15px;
            border-radius: 15px;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            .search{
                display: flex;
            }
        }
    }
    @include media(1200){
        display: none;
    }
    &__input{
        width: 100%;
        border: none;
        padding: 0 17px;
        background: #FFFFFF;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        border-radius: 12px 0 0 12px;
        border: 1px solid #E0E0E0;
        margin-right: -5px;
    }
    &__button{
        background: #A64AC9;
        border-radius: 6px 12px 12px 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
        height: 100%;
        width: 52px;
    }
}
.btn{
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    gap: 8px;
    background: #A64AC9;
    border-radius: 5px;
    text-decoration: none;
    width: max-content;
    transition: 300ms ease-out;
    &:hover{
        background: rgba(#A64AC9, 0.8);
    }
}
.sections{
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
    &>div{
        scroll-margin: 80px;
        @include media(576){
            scroll-margin: 60px;
        }
    }
    &.p-0{
        padding: 0 0 80px 0;
        @include media(576){
            padding: 0 0 60px 0;
        }
    }
    @include media(576){
        padding: 60px 0;
        gap: 60px;
    }
}
.title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
    @include media(1400){
        margin-bottom: 20px;
    }
    @include media(576){
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 20px;
    }
    &.mb-40{
        margin-bottom: 40px;
        @include media(1400){
            margin-bottom: 20px;
        }
    }
    &.mb-20{
        margin-bottom: 20px;
    }
}
.subtitle{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #333333;
    margin-bottom: 15px;
    @include media(768){
        font-size: 26px;
        line-height: 32px;
    }
}
.custom-select{
    position: relative;
    select{
        display: none;
    }
    .select-selected{
        width: 100%;
        background: #FFFFFF;
        padding: 10px 15px;
        border: 1px solid #E0E0E0;
        border-radius: 12px;
        position: relative;
        height: 36px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
        &.select-arrow-active{
            &::before{
                transform: rotate(-180deg);
                top: 7px;
            }
        }
        &::before{
            content: '';
            transition: 300ms ease-out;
            position: absolute;
            top: 5px;
            right: 15px;
            width: 24px;
            height: 24px;
            background: url('../img/down.svg') center;
        }
    }
    .select-items{
        position: absolute;
        top: 37px;
        left: 0;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        transition: 300ms ease-out;
        overflow: hidden;
        div{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            width: 100%;
            transition: 300ms ease-out;
            padding: 10px 15px;
            cursor: pointer;
            &:hover{
                background: #eee;
            }
        }
        &.select-hide{
            opacity: 0;
            visibility: hidden;
        }
    }
}
textarea{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    resize: none;
    height: 108px;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
input{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    padding: 10px 15px;
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.text{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    position: relative;
    &__el{
        position: absolute;
        bottom: -115px;
        left: -68px;
        width: 150px;
        height: 150px;
        z-index: -1;
        background: #A64AC9;
        filter: blur(2px);
        border-radius: 10px;
        transform: rotate(-14.04deg);
        @include media(576){
            width: 87px;
            height: 87px;
            transform: rotate(17.47deg);
        }
    }
    &__title{
        text-align: left;
        margin-bottom: 15px;
    }
    &__p{
        &:not(:last-of-type){
            margin-bottom: 15px;
        }
    }
    &__ul{
        list-style-type: disc;
        padding-left: 16px;
        margin-top: 15px;
        &:not(:last-of-type){
            margin-bottom: 15px;
        }
    }
}