doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Rubik+Mono+One&display=swap" rel="stylesheet")
        title Школа - Educator
    body 
        .wrapper 
            include components/header 
            +header 
            main.main  
                .sections.p-0 
                    div 
                        include components/breadcrumbs 
                        +breadcrumbs-school   
                        include components/detail 
                        +detail-school
                    include components/text 
                    +text-school
                    include components/courses 
                    +courses-school 
                    include components/teachers 
                    +teachers
                    include components/reviews 
                    +reviews
                    include components/form 
                    +form
                    include components/news 
                    +discounts 
            include components/footer  
            +footer
        script(src="js/app.min.js") 